/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.rotate_0_dec_75 {
  -webkit-transform: rotate(0.75deg);
      -ms-transform: rotate(0.75deg);
          transform: rotate(0.75deg);
}

.rotate_0_dec_75_neg {
  -webkit-transform: rotate(-0.75deg);
      -ms-transform: rotate(-0.75deg);
          transform: rotate(-0.75deg);
}

.rotate_0_dec_50 {
  -webkit-transform: rotate(0.50deg);
      -ms-transform: rotate(0.50deg);
          transform: rotate(0.50deg);
}

.rotate_0_dec_50_neg {
  -webkit-transform: rotate(-0.50deg);
      -ms-transform: rotate(-0.50deg);
          transform: rotate(-0.50deg);
}

.rotate_0_dec_25 {
  -webkit-transform: rotate(0.25deg);
      -ms-transform: rotate(0.25deg);
          transform: rotate(0.25deg);
}

.rotate_0_dec_25_neg {
  -webkit-transform: rotate(-0.25deg);
      -ms-transform: rotate(-0.25deg);
          transform: rotate(-0.25deg);
}

.rotate_1_dec_0 {
  -webkit-transform: rotate(1.0deg);
      -ms-transform: rotate(1.0deg);
          transform: rotate(1.0deg);
}

.rotate_1_dec_0_neg {
  -webkit-transform: rotate(-1.0deg);
      -ms-transform: rotate(-1.0deg);
          transform: rotate(-1.0deg);
}

.rotate_1_dec_25 {
  -webkit-transform: rotate(1.25deg);
      -ms-transform: rotate(1.25deg);
          transform: rotate(1.25deg);
}

.rotate_1_dec_25_neg {
  -webkit-transform: rotate(-1.25deg);
      -ms-transform: rotate(-1.25deg);
          transform: rotate(-1.25deg);
}

.rotate_1_dec_50 {
  -webkit-transform: rotate(1.50deg);
      -ms-transform: rotate(1.50deg);
          transform: rotate(1.50deg);
}

.rotate_1_dec_50_neg {
  -webkit-transform: rotate(-1.50deg);
      -ms-transform: rotate(-1.50deg);
          transform: rotate(-1.50deg);
}

.rotate_1_dec_75 {
  -webkit-transform: rotate(1.75deg);
      -ms-transform: rotate(1.75deg);
          transform: rotate(1.75deg);
}

.rotate_1_dec_75_neg {
  -webkit-transform: rotate(-1.75deg);
      -ms-transform: rotate(-1.75deg);
          transform: rotate(-1.75deg);
}

.rotate_2_dec_0 {
  -webkit-transform: rotate(2.00deg);
      -ms-transform: rotate(2.00deg);
          transform: rotate(2.00deg);
}

.rotate_2_dec_0_neg {
  -webkit-transform: rotate(-2.00deg);
      -ms-transform: rotate(-2.00deg);
          transform: rotate(-2.00deg);
}

.full_gallery {
  width: 100%;
}

#SwamiDyan, #DAVPoem, #AOCaste, #LLRai {
  width: 60%;
}

#HansRaj, #Gurudatta {
  width: 80%;
}

#IC {
  width: 100%;
}

#Lajpat_AS1 {
  width: 80%
}

#DAV1 {
  width: 80%;
}
#DAV2 {
  width: 85%;
}
#DAV3 {
  width: 80%;
}
#DAV4 {
  width: 70%;
}

#ASPrint1 {
  width: 70%;
}
#ASPrint2 {
  width: 100%;
}
#ASPrint3 {
  width: 75%;
}

#ASPrint5 {
  width: 70%;
}
#ASPrint6 {
  width: 75%;
}
#ASPrint7 {
  width: 60%;
}
#ASPrint8 {
  width: 95%;
}

#Ambedkar, #LLRai_Statue {
  width: 75%;
}

#HinduPeeche {
  width: 95%;
}

#BrahmoM {
  width: 50%;
}

#Agnihotri {
  width: 55%;
}

#RuchiRam {
  width: 55%;
}

#BSMandir, #DSMandir {
  width: 60%;
}
#SDMandir {
  width: 90%;
}

#Politics1 {
  width: 90%;
}

#Politics3 {
  width: 95%;
}

#Politics2, #Politics4 {
  width: 95%;
}

#Cartoon {
  width: 70%;
}

#FreedomArt {
  width: 65%;
}

#Martyrs {
  width: 70%;
}

#LLR1, #LLR2, #LLR5, #LLR6 {
  width: 70%;
}
#LLR3, #LLR4, #LLR7, #LLR9{
  width: 100%;
}

#LLR3 {
  width: 80%;
}

#LLR8 {
  width: 90%;
}

#LLR9 {
  width: 70%;
}

#MilapCover {
  width: 65%;
}

#NC1, #NC3, #NC6 {
  width: 80%
}

#NC2, #NC4, #NC5{
  width: 75%
}

#Poem1 {
  width: 68%;
}

#Poem2 {
  width: 85%;
}

#Poem3 {
  width: 40%;
}


#absoluteBM {
  width: 21%;
  right: 150px;
  bottom: 20px;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}

#absoluteKrishna {
  width: 12%;
  right: 150px;
  bottom: -100px;
}

#Milaap1 {
  width: 85%;
}

#Milaap2 {
  width: 82%;
}

#Milaap3 {
  width: 80%;
}

#Milaap4 {
  width: 65%;
}

#Politics2, #Politics3 {
  width: 80%;
}

#AS2 {
  width: 90%;
}


.ilm_gallery, .special_ed_gallery {
  width: 275px;
  margin-right: 55px;
}


.effected_image {
  overflow: hidden;
}

.hover_effect {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.hover_effect:hover {
  transform: scale(1.025);
}

.hover_effect_color {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.hover_effect_color:hover {
  -webkit-filter: sepia(0.3);
          filter: sepia(0.3);
}

@media only screen and (max-width: 1024px) {
  #Article_295A_Mobile {
    width: 50%;
    margin-left: 25%;
  }
  #inquilab2, #inquilab1 {
    width: 100%;
  }

  #inquilab3 {
    width: 100%;
  }

  #InquilabHinduMuslim {
    width: 80%;
  }

  #Newspaper2 {
    width: 75%;
  }

  #BandeM {
    width: 80%;
  }

  #Newspaper3 {
    width: 90%;
  }

  #Newspaper1 {
    width: 90%;
  }

  #Burial1 {
    width: 80%;
    margin-bottom: 0px;
  }

  #Burial2 {
    width: 100%;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 610px) {
}

@media only screen and (max-height: 720px) {

}

@media only screen and (min-width: 1024px) and (max-height: 675px) {
  .ilm_gallery {
    width: 200px !important;
    margin-right: 55px;
  }
  .special_ed_gallery {
    width: 250px !important;
    margin-right: 35px;
  }
  #Lajpat_AS1 {
    width: 75%
  }
  #Politics2, #Politics3 {
    width: 90%;
    margin-left: 5%;
  }
  #FreedomArt {
    width: 58%;
  }
  #LLR3, #LLR8 {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 600px) {
  .ilm_gallery {
    width: 190px !important;
    margin-right: 55px;
  }
  .special_ed_gallery {
    width: 240px !important;
    margin-right: 35px;
  }
  #Lajpat_AS1 {
    width: 73%
  }
  #Politics2, #Politics3 {
    width: 88%;
    margin-left: 6%;
  }
  #FreedomArt {
    width: 56%;
  }
  #LLR3, #LLR8 {
    width: 88%;
  }
}
